Repository elasticdeeplearning/edl: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, shellcheck

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
    -   id: black
        exclude: ^(\.tools\/|example\/|k8s\/)
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.5.1
    hooks:
    -   id: python-use-type-annotations
        exclude: ^(\.tools\/|example\/|k8s\/)
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py|sh)$
    -   id: check-docstring-first
    -   id: check-json
    -   id: check-added-large-files
    -   id: debug-statements
        exclude: ^(\.tools\/|example\/|k8s\/)
    -   id: requirements-txt-fixer
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
    -   id: end-of-file-fixer
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python .tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py|sh)$
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.3
    hooks:
    -   id: flake8
        exclude: ^(\.tools\/|example\/|k8s\/)
        args: ['--max-line-length=100', '--extend-ignore=E203']
-   repo: local
    hooks:
    -   id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        files: \.sh$

fix test=develop
  .pre-commit-config.yaml
  .tools/check_style.sh
  docker/Dockerfile
  docker/release-run-time.sh
  example/demo/collective/resnet50/package.sh
  example/distill/nlp/test_distill.sh
  python/edl/protos/generate.sh
  python/requirements.txt
  python/setup.py.in
  scripts/run_build.sh
Due: copyright_checker, shellcheck

rm travis yml test=develop
  .travis.yml
Due: none

fix trailing withspace test=develop
  .github/issue_template.md
  .github/pull_request_template.md
  CONTRIBUTING.md
  OWNERS.md
  README.md
  doc/ROADMAP.md
  doc/SUPPORT.md
  doc/boss_tutorial.md
  doc/edl_collective_design_doc.md
  doc/edl_collective_design_doc_cn.md
  doc/edl_distill_design_doc.md
  doc/fault_tolerance.md
  doc/fault_tolerance_cn.md
  example/demo/collective/README.md
  example/distill/README.md
  example/distill/mnist_distill/README_CN.md
  example/distill/nlp/README.md
Due: none

fix trailing withspace test=develop
  example/ctr/deploy_ctr_on_baidu_cloud_cn.rst
Due: none

fix trailing withspace test=develop
  .tools/codestyle/copyright.hook
  scripts/run_build.sh
Due: copyright_checker, shellcheck

add dev_requirements.txt test=develop
  docker/dev_requirements.txt
Due: none

add test=develop
  .tools/codestyle/copyright.hook
  scripts/run_build.sh
Due: copyright_checker, shellcheck

add
  .pre-commit-config.yaml
  .tools/codestyle/copyright.hook
  docker/build-devel.sh
  docker/build-runtime.sh
  docker/release-run-time.sh
  example/collective/resnet50/scripts/train_gpu.sh
  example/collective/resnet50/train_pretrain.sh
  example/ctr/k8s/paddle-suite.sh
  example/ctr/script/paddle-suite.sh
  example/demo/collective/env.sh
  example/demo/collective/resnet50/package.sh
  example/demo/collective/start_job_client.sh
  example/demo/collective/start_job_server.sh
  example/distill/mnist_distill/run.sh
  example/distill/nlp/test_distill.sh
  example/distill/nlp/test_train.sh
  example/distill/qps_tools/run.sh
  example/distill/reader_demo/run_demo.sh
  example/distill/resnet/scripts/start_local_teacher.sh
  example/distill/resnet/scripts/train_student.sh
  example/fit_a_line/del_jobs.sh
  python/edl/protos/generate.sh
  python/edl/tests/unittests/etcd_test.sh
  python/edl/tests/unittests/start_edl_demo.sh
  python/edl/tests/unittests/test_distill_reader.sh
  python/edl/tests/unittests/test_etcd_client.sh
  python/edl/tests/unittests/test_launch.sh
  python/edl/tests/unittests/test_redis_distill_reader.sh
  scripts/build.sh
  scripts/download_etcd.sh
  scripts/run_build.sh
Due: copyright_checker, shellcheck

fix test=develop
  .tools/codestyle/copyright.py
Due: copyright_checker

add test=develop
  .tools/codestyle/copyright.py
  example/collective/resnet50/models/resnet.py
  example/collective/resnet50/models/vgg.py
  example/collective/resnet50/train_with_fleet.py
  example/collective/resnet50/utils/fp16_utils.py
  example/collective/resnet50/utils/img_tool.py
  example/collective/resnet50/utils/learning_rate.py
  example/collective/resnet50/utils/reader_cv2.py
  example/ctr/ctr/dumper.py
  example/ctr/ctr/kvtool.py
  example/distill/resnet/models/resnet.py
  example/distill/resnet/models/resnet_vd.py
  example/distill/resnet/models/vgg.py
  example/distill/resnet/train_with_fleet.py
  example/distill/resnet/utils/fp16_utils.py
  example/distill/resnet/utils/img_tool.py
  example/distill/resnet/utils/learning_rate.py
  example/distill/resnet/utils/reader_cv2.py
  python/edl/distill/distill_reader.py
Due: copyright_checker

add test=develop
  example/ctr/ctr/dumper.py
Due: copyright_checker

add test=develop
  .tools/codestyle/copyright.py
  example/distill/resnet/models/resnet.py
  example/distill/resnet/models/resnet_vd.py
  example/distill/resnet/models/vgg.py
  example/distill/resnet/train_with_fleet.py
  example/distill/resnet/utils/fp16_utils.py
  example/distill/resnet/utils/img_tool.py
  example/distill/resnet/utils/learning_rate.py
  example/distill/resnet/utils/reader_cv2.py
Due: copyright_checker

add test=develop
  .tools/codestyle/copyright.py
Due: copyright_checker

add test=develop
  example/collective/resnet50/train_with_fleet.py
  example/collective/resnet50/utils/fp16_utils.py
  example/collective/resnet50/utils/img_tool.py
  example/collective/resnet50/utils/learning_rate.py
  example/collective/resnet50/utils/reader_cv2.py
Due: copyright_checker

add test=develop
  example/collective/resnet50/models/resnet.py
  example/collective/resnet50/models/vgg.py
Due: copyright_checker

add test=develop
  CONTRIBUTING.md
Due: none

Add vulnerability report workerflow. (#149)
  CONTRIBUTING.md
Due: none

add test=develop
  README.md
Due: none

add test=develop (#151)
  README.md
Due: none

Update README.md
  README.md
Due: none

Update ROADMAP.md
  doc/ROADMAP.md
Due: none

add roadmap file
  doc/ROADMAP.md
Due: none

update roadmap test=develop
  doc/ROADMAP.md
Due: none

add test=develop
  python/edl/collective/distribute_reader.py
  python/edl/utils/batch_data_accesser.py
  python/edl/utils/batch_data_generator.py
  python/edl/utils/data_server_client.py
  python/edl/utils/exceptions.py
  python/edl/utils/reader.py
Due: copyright_checker

add test=develop
  python/edl/collective/distribute_reader.py
  python/edl/collective/state.py
  python/edl/tests/unittests/CMakeLists.txt
  python/edl/tests/unittests/etcd_trainer_test_base.py
  python/edl/tests/unittests/test_data_reader.py
  python/edl/utils/batch_data_accesser.py
  python/edl/utils/batch_data_generator.py
  python/edl/utils/job_env.py
  python/edl/utils/trainer_env.py
Due: copyright_checker

fix an import typo
  python/edl/collective/distribute_reader.py
Due: copyright_checker

add a missing exception definition
  python/edl/utils/exceptions.py
Due: copyright_checker

fix errors in function calls
  python/edl/collective/distribute_reader.py
Due: copyright_checker

fix errors in distribute_reader.py
  python/edl/collective/distribute_reader.py
  python/edl/utils/data_server_client.py
Due: copyright_checker

minor style change
  python/edl/utils/data_server.py
Due: copyright_checker

add missing _lock definition in DataAccesser
  python/edl/collective/distribute_reader.py
Due: copyright_checker

fix utils/reader.py errors
  python/edl/utils/reader.py
Due: copyright_checker

add a missing argument
  python/edl/utils/cluster_generator.py
Due: copyright_checker

fix start_job_* scripts, use stdout
  example/demo/collective/start_job_client.sh
  example/demo/collective/start_job_server.sh
Due: copyright_checker, shellcheck

remove an unused var
  python/edl/distill/balance_table.py
Due: copyright_checker

remove redundant logic
  python/edl/discovery/consistent_hash.py
Due: copyright_checker
